.post-area {
  width: 642px;
}

.post {
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.post-top {
  display: flex;
  justify-content: space-between;
  margin: 22px 16px 18px 16px;
}

.post-user {
  display: flex;
}

.post-user__img img {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  margin-right: 16px;
  cursor: pointer;
}

.post-user__id h1,
.post-user__id h4,
.post-setting p {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.post-user__id h4 {
  font-size: 12px;
}

/*******************************************/
.post-content__main img {
  width: 642px;
  height: 600px;
}

/*******************************************/
.post-etc,
.post-etc__left {
  display: flex;
}

.post-etc {
  justify-content: space-between;
  margin: 10px 16px 0px 16px;
}

.post-etc__left p,
.post-etc__right p {
  font-size: 26px;
  cursor: pointer;
}

.post-etc__left p {
  margin-right: 14px;
}

.post-etc__left p svg {
  cursor: pointer;
}

.post-etc2 {
  padding-left: 16px;
}

.post-content__article {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
}

.post-content__id {
  margin-right: 8px;
  font-size: 14px;
}

.post-content__serve p {
  font-weight: 400;
  font-size: 14px;
}

.post-content__time h6 {
  font-weight: 400;
  font-size: 12px;
  margin: 4px 0;
  color: #6e6e6e;
}

/*******************************************/
.post-etc__comment {
  border-top: 1px solid #dbdbdbc6;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 20px 0;
  padding-left: 16px;
}

.post-etc__comment input {
  width: 90%;
  border: none;
  height: 20px;
}

.post-etc__comment button {
  margin-right: 16px;
  background-color: transparent;
  border: none;
  color: #0095f6;
  cursor: pointer;
}

/* 해쉬 태그 좋아요 부분 */

.post-content__like {
  display: flex;
  flex-direction: row;
}

.post-content__like p {
  margin-right: 4px;
}

/* 해쉬 태그 부분 */

.post-content__hash {
  display: flex;
  flex-direction: row;
}

.post-content__hash p {
  margin-right: 4px;
  margin-bottom: 6px;
  font-size: 13px;
}

/* 댓글 부분 */

.post-content__comment {
  display: flex;
  flex-direction: row;
}

/* 삭제된 게시글 css */
.post-delete {
  margin: 0 auto;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.post-delete h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #6e6e6e;
}

.post-delete i {
  font-size: 30px;
  border: 2px solid #6e6e6e;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 10px;
}

/* 내 게시글 더보기 버튼 클릭 시 나오는 모달 css */

.delete-window {
  z-index: 11;
  background-color: #fff;
  width: 500px;
  height: 120px;
  position: fixed;
  top: 300px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.delete-btn button,
.delete-cancle-btn button {
  /* .chat-delete-btn button,
.chat-cancle-btn button  */
  width: 500px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-btn button {
  border-bottom: 1px solid #dbdbdb;
  color: #ff0000;
}

.delete-btn .follow {
  border-bottom: 1px solid #dbdbdb;
  color: #0095f6;
}
