.profile-area {
  margin-top: 6em;
}

.profile-area-top,
.profile-info__top,
.profile-info__mid,
.profile-info-li {
  display: flex;
}

.profile-area-top {
  margin: 0 100px;
  margin-top: 40px;
}

.profile-img img {
  width: 160px;
  height: 160px;
  border-radius: 500px;
}

.profile-info {
  margin-left: 40px;
}

.profile-info__top {
  align-items: flex-end;
}

.profile-info__top h1 {
  font-size: 30px;
  font-weight: 300;
}

.profile-info__top button {
  background-color: transparent;
  border: 1px solid #dbdbdbdb;
  border-radius: 5px;
  height: 30px;
  margin-left: 14px;
  cursor: pointer;
}

.profile-info__top p {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.profile-info__mid {
  margin-top: 10px;
}

.profile-info-li {
  margin-right: 30px;
}

.profile-info-li h2,
.profile-info-li h3 {
  font-size: 16px;
  font-weight: 300;
}

.profile-info-li h3 {
  margin-left: 6px;
  font-weight: 500;
  cursor: pointer;
}

.profile-info__bottom {
  margin-top: 10px;
}

.profile-info__bottom h2 {
  font-weight: 400;
}

.profile-info__bottom h3 {
  font-weight: 300;
}

/*******************************************************/
.profile-area-border {
  margin: 30px 0;
  margin-bottom: 10px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
}

.profile-area-border-li {
  display: flex;
  margin: 20px 100px 6px 100px;
  /* border-top: 1px solid #0e0e0e; */
}

.profile-area-border-li p {
  font-size: 14px;
  margin: 0px 4px;
  cursor: pointer;
}

/*******************************************************/
.profile-area-bottom {
  margin-bottom: 40px;
}

.profile-area__post {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.profile-area__post img {
  width: 32%;
  cursor: pointer;
}

/*******************************************************/

.user-dropdown {
  position: absolute;
  left: -15px;
  top: 21px;
  z-index: 102;
}

.user-dropdown-window {
  background-color: #f5f5f5;
  width: 220px;
  border-radius: 5px;
  /* box-shadow:0 3px 3px rgba(155, 155, 155, 0.9); */
}

.user-dropdown-li {
  display: flex;
  margin-left: 10px;
}

.user-dropdown p,
.user-dropdown-logout p {
  margin-left: 6px;
  font-size: 14px;
  cursor: pointer;
}

.user-dropdown-tail img {
  width: 22px;
  height: 10px;
  z-index: 102;
  margin-left: 14px;
  filter: drop-shadow(5px 0px 1px rgb(180, 179, 179));
}

.user-dropdown-logout {
  border-top: 1px solid #dbdbdb;
  padding-left: 10px;
}
