.ranking-title {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ranking-title img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
}

.ranking-title h1 {
  font-size: 22px;
  color: #0095f6;
}

.ranking-list {
  height: 510px;
}

.rank {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.rank:hover {
  background-color: #f5f5f5;
}

.rank aside {
  text-align: right;
}

aside h1 {
  margin-left: 40px;
  margin-right: 50px;
  font-size: 22px;
  width: 60px;
}

aside button {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #0095f6;
  color: #fff;
  cursor: pointer;
  width: 66px;
  height: 31px;
  cursor: pointer;
  margin-left: 40px;
}

aside .unfollow {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #b5b5b6;
  color: #fff;
  cursor: pointer;
  width: 66px;
  height: 31px;
  cursor: pointer;
  margin-left: 40px;
}

.rank-info {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  cursor: pointer;
}

.rank__img {
  margin-right: 12px;
}

.rank__img img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: 8px;
}

.rank__user {
  display: flex;
  align-items: center;
}

.rank__user h2 {
  font-size: 18px;
  color: #0e0e0e;
  margin-right: 6px;
}

.rank__user h4,
.rank-follower h4 {
  font-size: 14px;
  color: #6e6e6e;
}

.rank-follower h4 {
  color: #0e0e0e;
  font-weight: 400;
}
