.search-result-main-area {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}

.search-area {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  width: 960px;
  height: 660px;
  margin-top: 20px;
}

.search-word {
  text-align: center;
  margin: 40px;
}

.search-word h1 {
  font-size: 22px;
  color: #0095f6;
}

.search-word-icon {
  font-size: 14px;
}

.search-area-border {
  width: 100%;
  margin: 30px 0;
  margin-bottom: 10px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
}

.search-area-border-li {
  display: flex;
  justify-content: center;
  margin: 20px 100px 6px 100px;
  /* border-top: 1px solid #0e0e0e; */
  position: relative;
}

.search-area-border-li p {
  font-size: 14px;
  margin: 0px 4px;
  cursor: pointer;
}

.search-bar-post,
.search-bar-user {
  position: absolute;
  background-color: #0e0e0e;
  width: 90px;
  height: 1px;
  bottom: 40px;
}

.search-bar-post {
  display: none;
}

/*****************************************************/
.search-result {
  margin-top: 20px;
  height: 465px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.search-result::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.search-result__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  padding: 8px 0;
  border-bottom: 1px solid #dbdbdb;
}

.search-result-user {
  display: flex;
}

.search-result-user img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.search-result__info {
  margin-left: 20px;
  cursor: pointer;
}

.search-result__info h1 {
  font-size: 20px;
}

.search-result__info h4 {
  font-size: 14px;
  font-weight: 400;
  color: #6e6e6e;
}

.search-result__list button {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #0095f6;
  color: #fff;
  cursor: pointer;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

/*****************************************************/
.search-post {
  margin-top: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  justify-content: flex-start;
  position: relative;
}

.search-post-li {
  width: 300px;
  margin: 10px;
}

.search-post-li img {
  width: 300px;
  cursor: pointer;
}

.search-post-hover {
  position: absolute;
  top: 10px;
  width: 300px;
  height: calc(100% - 25px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-post-hover h4 {
  color: #fff;
}

.search-post-hover-icon {
  padding-right: 8px;
}

.search-post-hover h4:first-child {
  padding-right: 24px;
}
