@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Chewy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);
@import "reset.css";

/***screen***/
@import "start-form.css";
@import "main.css";
@import "main-post.css";
@import "main-window.css";
@import "chat.css";
@import "profile.css";
@import "profile-edit.css";
@import "recommend.css";
@import "ranking.css";

/***component***/
@import "./component/footer.css";
@import "./component/header.css";

/*********/
body {
  font-family: "Noto Sans KR", sans-serif;
  -ms-overflow-style: none;
  margin: 0 auto;
  /* max-width: 720px; */
  max-width: 1059px;
  background-color: #dbdbdb28;
}

.modal-open {
  overflow: hidden;
}

#service-screen {
  max-width: 960px;
}

.main-area {
  margin-top: 3em;
  display: flex;
}

/* 모달 css*/

.ly_popover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  background-color: rgba(51, 51, 51, 0.5);
}
.ly_popover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ly_popover .bl_popover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 660px;
  background-color: white;
  border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
